body {
  margin: auto;
  padding: 0;
}


.top-container {
  padding: 10px;
  height: 240px;
  background: red;
}
.top-left {
  background-color:pink;
  float: left;
  height: 180px;
  width: 24%;
  padding: 1%;
}
.top-center {
  background-color:grey;
  padding: 10px;
  float: left;
  height: 180px;
  width: 44%;
  margin: 0 1%;

}
.top-right {
  background-color:pink;
  float: left;
  height: 180px;
  width: 24%;
  padding: 1%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.top-footer {
  background-color:blue;
  float: left;
  height: 20px;
  width: 12%;
  margin: 1% 2%;
  border-bottom: 1px solid black;
  border-radius: 12px;
}

.middle-container{
  padding: 1%;
  height: 640px;
  background: blue;
}

.middle-left {
  background-color:pink;
  float: left;
  height: 79%;
  width: 46%;
  padding: 5% 2%;
}

.middle-topleft{
  background-color:blue;
  height: 48%;
  width: 100%;
}
.middle-centreleft{
  background-color:blue;
  height: 50px;
  width: 45%;
  margin: 10% 4% 5% 4%;
  border-radius: 25px;
}

.middle-bar2{
  background-color:red;
  height: 5px;
  width: 45%;
  margin: 1% 0% 1% 4%;
  border-radius: 5px;
}

.middle-halfbar2 {
    background-color:red;
    height: 5px;
    width: 22%;
    margin: 1% 0% 1% 4%;
    border-radius: 5px;
}
.middle-right {
  background-color:green;
  float: left;
  height: 79%;
  width: 46%;
  padding: 5% 2%;
}

.middle-text {
  background-color:grey;
  height: 33%;
  width: 100%;
  margin: 10px;
}
.middle-pic {
  background-color:pink;
  float:left;
  height: 90%;
  width: 35%;
}

.middle-texttwo {
  background-color:black;
  float:left;
  height: 60%;
  width: 40%;
  margin: 45px;
}

.middle-bar{
  background-color:red;
  height: 5px;
  width: 130%;
  margin: 2% 0% 1% 4%;
  border-radius: 5px;
}
.middle-halfbar {
    background-color:red;
    height: 5px;
    width: 65%;
    margin: 2% 0% 1% 4%;
    border-radius: 5px;
}
