body {
  margin: auto;
  padding: 0;
}


.top-container {
  padding: 10px;
  height: 240px;

}
.top-left {
  background-color:grey;
  float: left;
  height: 180px;
  width: 24%;
  padding: 1%;
}
.top-center {
  padding: 10px;
  float: left;
  height: 180px;
  width: 44%;
  margin: 0 1%;

}
.top-right {
  background-color:grey;
  float: left;
  height: 180px;
  width: 24%;
  padding: 1%;
}

h1, h2 {
  text-align: center;
}


.top-footer {
  background-color:grey;
  float: left;
  height: 20px;
  width: 12%;
  margin: 1% 2%;
  border-radius: 12px;
}

 
.middle-container{
  padding: 1%;
  height: 640px;

}

.middle-left {

  float: left;
  height: 79%;
  width: 46%;
  padding: 5% 2%;
}

.middle-topleft{
  background-color:grey;
  height: 48%;
  width: 100%;
}
.middle-centreleft{
  background-color:grey;
  height: 50px;
  width: 45%;
  margin: 10% 4% 5% 4%;
  border-radius: 25px;
}

.middle-bar2{
  background-color:grey;
  height: 5px;
  width: 45%;
  margin: 1% 0% 1% 4%;
  border-radius: 5px;
}

.middle-halfbar2 {
    background-color:grey;
    height: 5px;
    width: 22%;
    margin: 1% 0% 1% 4%;
    border-radius: 5px;
}
.middle-right {
  float: left;
  height: 79%;
  width: 46%;
  padding: 5% 2%;
}

.middle-text {
  height: 33%;
  width: 100%;
  margin: 10px;
}
.middle-pic {
  background-color:grey;
  float:left;
  height: 90%;
  width: 35%;
}

.middle-texttwo {
  float:left;
  height: 60%;
  width: 40%;
  margin: 45px;
}

.middle-bar{
  background-color:grey;
  height: 5px;
  width: 130%;
  margin: 2% 0% 1% 4%;
  border-radius: 5px;
}
.middle-halfbar {
    background-color:grey;
    height: 5px;
    width: 65%;
    margin: 2% 0% 1% 4%;
    border-radius: 5px;
}

.bottom-container {
  padding: 10px;
  height: 240px;
}

.pic{
  background-color:grey;
  float: left;
  height: 165px;
  width: 21.5%;
  padding: 1%;
  margin-left: 1%
}
.text{
  background-color:grey;
  float: left;
  height: 5px;
  width: 21.5%;
  padding: 1%;
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 12px;
}

hr {
  width: 96%;
  color: grey;
  height: 3px;
  background-color:grey;

}
